{
  "name": "datagen-articles",
  "config": {
    "connector.class": "io.confluent.kafka.connect.datagen.DatagenConnector",
    "kafka.topic": "articles",
    "schema.filename": "/usr/share/confluent-hub-components/confluentinc-kafka-connect-datagen/etc/custom/articles.avro",
    "schema.keyfield": "id",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "false",
    "value.converter.schema.registgry.url": "http://localhost:8081",
    "producer.interceptor.classes": "io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor",
    "max.interval": 100,
    "iterations": 10000000,
    "tasks.max": "1"
  }
}